<! DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">

<!--
<script src="jquery-3.1.1.min.js"></script>
--> 

<link rel="stylesheet" title="all the goo, and more." href="camel.css" media="screen">

<!--
<script type="text/javascript" src="some.js"></script>
-->

<title></title>
</head>
<body>

<center>
<b>
Published CVE advisories - past {{ delta }} days
<br>
<font size="-1" color="red" ><i>* This page is updated every 2 hours *</i></font>
<b>

<table>

{% for i in cve | sort(attribute='published') %}

<a name="{{i.CVE}}"></a>
<tr class='topdata'>
<td >{{i.CVE}}</td>
</tr>

<tr class='middata'>
<td>
<pre>{{i.summary}}</pre>
</tr>

<tr class='bottomdata'>
<td>
Published: {{i.published}}
<br>Modified: {{i.modified}}
<br>Score: {{i.score}}
<br>Reference: <a href="{{i.reference}}">{{i.reference}}</a>
</td>
</tr>

{% endfor %}

</table>
<br>
<font size="-3"><a href="https://github.com/tfiedler/cloudOddities/tree/master/cveBot">cveBot</a></font>
</center>
</body>
</html>
